body{
    background-image: url("img/aksonvady_Data_technology_futuristic_illustration\ 31\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.title1{
    color: white;
}
.text{
    color: white;
}

